version: "3"
services:
  server:
    build: .
    ports:
      - 80:8080
    environment:
      DB_USER: postgres
      DB_PWD: "qhzA::n.EWNKg6KFWm.:w?-2Z82"
      DB_HOST: bia.c4nckw8qytev.us-east-1.rds.amazonaws.com
      DB_PORT: 5432
      
